<div class="entry flex flex-center">
  <div class="entry__info">
    <%= render partial: "url", object: entry.url %>
    <h1 class="margin-top-xs"><%=
      link_to entry.title, entry.url, class: "foreground-dark"
    %></h1>
    <%= render partial: "description", object: entry.description %>
    <ul class="tags margin-top-s">
      <%= render partial: "categories/entry_category", object: entry.category %>
      <%= render partial: entry.tags, locals: { selected_tags: @tags } %>
      <li><%=
        link_to "Show #{entry.category.singular_name} info",
                entry_path(entry),
                id: dom_id(entry, :show),
                method: :get,
                class: "tags__tag tags__more-info padding-xxxs rounded",
                data: {
                  turbo_frame: dom_id(entry),
                  show_text: "Show #{entry.category.singular_name.downcase} info",
                  show_path: entry_path(entry),
                  hide_text: "Hide #{entry.category.singular_name.downcase} info",
                  hide_path: entries_path
                }
      %></li>
    </ul>
    <%= turbo_frame_tag entry, data: {
      controller: "metadata-buttons",
      action: "turbo:frame-load->metadata-buttons#toggle_button",
      button: dom_id(entry, :show)
    }
    %>
  </div>
</div>
