<!DOCTYPE html>
<html>
  <head>
    <title>RubyReadingList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="flash">
      <%= render "layouts/flash" %>
    </div>

    <div class="with-sidebar margin-top-xl">
      <%= render "layouts/sidebar" %>

      <main class="container margin-top-none margin-right-l">
        <%= yield %>
      </main>

    </div>
  </body>
</html>
